


.login{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.google-singin{
    padding:100px 50px;
    /* border: 1px solid black; */
    border-radius: 5px;
}
.google{
    border: 2px solid lightgray;
    padding: 40px;
    border-radius: 10px;
}
.google h2{
    font-weight: bold;
    border-bottom: 2px solid grey;
    padding-bottom: 15px;
}

.sign-in{
    font-weight: 700;
    width: 300px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    transition: 0.5s ease;
    
}
.sign-in img{
    width: 20px;
    margin-right: 20px;
}
.sign-in:hover{
    background: rgb(224, 224, 224);
    color: black;
}