*{
    margin: 0;
    padding: 0;
}
.headers{

    margin: 0% 7.8%;
}
.nav{
    display: flex;
    justify-content: space-around;
    
}
.nav p{
    padding: 10px;
}
.username{
    /* padding-top: 5px; */
    font-size: 24px;
    cursor: pointer;
    text-transform:capitalize;
    font-weight: bold;
    transition: 0.5s ease;
}
.username:hover{
    color: orange;

}
.username img{
    width: 40px;
}
.container-fluid .logo{
    font-size: 30px;
    font-weight: 700;
}