.des-nav{
    font-weight: 700;
    justify-content: space-between;
}
/* .description .name{
    width: 20%;
    text-align: left;
    
}
.description .quantity{
    width: 20%;
    
}
.description .price{
    width: 20%;
}
.date{
    width: 20%;
}
.weight{
    width: 20%;
} */